body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #000000;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type=checkbox] {
    position: relative;
    bottom: 25px; left: 150px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/*input[type=checkbox]:before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color:#e9e9e9;*/
/*}*/
/*input[type=checkbox]:checked:before {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color:#1E80EF;*/
/*}*/
/*input[type=checkbox]:checked:after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 5px;*/
/*    height: 10px;*/
/*    border: solid white;*/
/*    border-width: 0 2px 2px 0;*/
/*    -webkit-transform: rotate(45deg);*/
/*    -ms-transform: rotate(45deg);*/
/*    transform: rotate(45deg);*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 6px;*/
/*}*/

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #1E80EF; /*#4563d2*/
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}