<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ПРМО</title>
  <link th:href="@{/styles/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="main">
  <img th:src="@{images/logo/prmo_logo_mid.png}" alt="logo_md">
  <h1>“РЖД МЕДИЦИНА” г. КАЛУГА</h1>
  <h1>ОТЧЕТ О ПРЕДРЕЙСОВЫХ ОСМОТРАХ</h1>
  <form action="#" th:action="@{/admin/operations/add}" th:object="${newOperation}" method="post" id="newOperation">
    <label>
      Наименование новой процедуры:
    </label>
    <input type="text" th:field="*{operationName}" required>
    <label style="display: inline">
      Если показания процедуры будут содержать строковые значения, добавьте к наименованию - "(да/нет)"
    </label>
    <button type="submit" id="sendDataBtn">
      Добавить
    </button>
  </form>
</div>
</body>
</html>