<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРМО</title>
    <link th:href="@{/styles/css/admin-panel.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/actions.js}" charset="utf-8"></script>

</head>
<body>
<header class="burger" th:replace="~{fragments :: sideBar}"></header>
<!--<ul class="topnav">-->
<!--    <li><a class="active" th:href="@{/admin/panel}">Выгрузка</a></li>-->
<!--    <li><a th:href="@{/admin/users}">Пользователи</a></li>-->
<!--    <li><a th:href="@{/admin/departments}">Подразделения</a></li>-->
<!--    <li><a th:href="@{/admin/operations}">Процедуры</a></li>-->
<!--    <li><a th:href="@{/admin/edit}">Внести правки</a></li>-->
<!--    <li class="right"><a th:href="@{/logout}">Выход</a></li>-->
<!--</ul>-->
<h1>Панель администратора</h1>
<div class="main">
    <div th:replace="~{fragments :: logo}"></div>
    <form action="#" th:action="@{/admin/panel}" th:object="${report_data}" method="post">
        <label> Выберите период, за который хотите сформировать отчет</label>
        <label for="startDate">
            C:
        </label>
        <input type="date"
               id="startDate" th:field="*{startDate}" required>
        <label for="endDate">
            По:
        </label>
        <input type="date"
               id="endDate" th:field="*{endDate}" required>
        <div th:if="*{fileName}">
            <label>
                Скачать отчет:
            </label>
            <h1>
                <a th:href="@{'/admin/download?fileName='+ ${report_data.fileName}}" th:text="*{fileName}"
                   th:name="fileName"></a>
            </h1>
        </div>


        <div class="wrap">
            <button type="submit" id="sendDataBtn">
                Сформировать отчет
            </button>
        </div>
    </form>
</div>
</body>
</html>