<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРМО</title>
    <link th:href="@{/styles/css/admin-panel.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}" charset="utf-8"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
</head>
<body>
<ul class="topnav">
    <li><a class="active" href="#home">Выгрузка</a></li>
    <li><a href="#home">Пользователи</a></li>
    <li><a href="#news">Подразделения</a></li>
    <li><a href="#contact">Процедуры</a></li>
    <li class="right"><a href="#about">Выход</a></li>
</ul>
<h1>This is admin panel</h1>

</body>
</html>