<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРМО</title>
    <link th:href="@{/styles/css/admin-panel.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/actions.js}" charset="utf-8"></script>

</head>
<body>
<header class="burger" th:replace="~{fragments :: sideBar}"></header>
<!--<ul class="topnav">-->
<!--    <li><a th:href="@{/admin/panel}">Выгрузка</a></li>-->
<!--    <li><a th:href="@{/admin/users}">Пользователи</a></li>-->
<!--    <li><a th:href="@{/admin/departments}">Подразделения</a></li>-->
<!--    <li><a class="active" th:href="@{/admin/operations}">Процедуры</a></li>-->
<!--    <li><a th:href="@{/admin/edit}">Внести правки</a></li>-->
<!--    <li class="right"><a th:href="@{/logout}">Выход</a></li>-->
<!--</ul>-->

<h1>Список процедур</h1>
<div class="main">
    <div th:replace="~{fragments :: logo}"></div>
<!--    <ol id="dataList">-->
<!--        <li th:each="operation : ${operations}" th:text="${operation.operationName}"></li>-->
<!--    </ol>-->
    <p><a th:href="@{/admin/operations/add}"> Добавить процедуру</a></p>

    <table id="users">
        <thead>
        <tr>
            <th>Процедуры</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operation : ${operations}">
            <td th:text="${operation.operationName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>