<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ПРМО</title>
    <link th:href="@{/styles/css/login.css}" rel="stylesheet"/>
</head>
<body>


<div class="main">

    <div th:replace="~{fragments :: logo}"></div>
    <h2>Добавление нового пользователя</h2>
    <form method="post" th:action="@{/admin/registration}" th:object="${user}" id="regForm">
        <label for="username">
            Имя пользователя:
        </label>
        <input id="username" required type="text" th:field="*{username}" placeholder="Введите имя пользователя"/>
        <label for="password">
            Пароль:
        </label>
        <input id="password" required type="text" th:field="*{password}" placeholder="Введите пароль"/>
        <label for="depSelect">
            Подразделение:
        </label>
        <select th:field="*{department}" id="depSelect">
            <option th:each="department: ${departments}" th:value="${department}" th:text="${department}"></option>
        </select>
        <div class="wrap">
            <button type="submit">
                Создать пользователя
            </button>
        </div>
    </form>
</div>

</body>
</html>